* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'BeVietnamPro';
    src: url(../fonts/BeVietnamPro-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BeVietnamPro';
    src: url(../fonts/BeVietnamPro-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BeVietnamPro';
    src: url(../fonts/BeVietnamPro-Bold.ttf);
    font-weight: 700;
    font-style: bold;
}

header {
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    padding-left: 56px;
    height: 25px;
    cursor: pointer;
}

#icono_barras {
    font-size: 60px;
    padding-right: 56px;
    cursor: pointer;
}

.menu_header {
    color: #242E52;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    display: none;
}

.menu_header a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    padding: 14px;
    transition: all 0.5s ease;
}

.menu_header a:hover {
    color: rgba(36, 46, 82, 0.60);
}

header .boton_contact {
    display: none;
}

.anuncio {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 24px;
}

.anuncio_texto {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

#img_padel {
    height: 340px;
    margin-bottom: 100px;
}

.anuncio_texto h1 {
    color: #232C50;
    text-align: right;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 50px;
    font-weight: 700;
    font-style: bold;
    line-height: 114.6%;
    letter-spacing: -1.75px;
}

.anuncio_texto p {
    color: #000;
    text-align: right;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 16.558px;
    font-weight: 500;
    font-style: normal;
    line-height: 157.1%;
}

.boton_contact {
    width: 134px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #8B48BF;
    color: #FFF;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    border: none;
}

.boton_contact:hover {
    background: rgba(139, 72, 191, 0.70);
}

.boton_contact:active {
    scale: 0.98;
}

.frame_info {
    background: #3CDDF3;
    height: 306px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.frame_info h1 {
    color: #FFF;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 36px;
    font-weight: 700;
    font-style: bold;
    line-height: 114.6%;
}

.frame_info p {
    color: #FFF;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 151.1%;
}

.lista_info {
    position: relative;
    width: 446px;
    margin-top: 65px;
    margin-left: auto;
}

.lista_info h2 {
    width: 70px;
    height: 43px;
    border-radius: 30px;
    background: #8B48BF;
    color: #FFF;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 16px;
    font-style: bold;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.lista_info h3 {
    height: 43px;
    width: 411px;
    background: rgba(139, 72, 191, 0.30);
    color: #323851;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 16px;
    font-style: bold;
    font-weight: 700;
    letter-spacing: -0.24px;
    display: flex;
    align-items: center;
    padding-left: 53px;
    margin-left: 35px;
}

.lista_info p {
    color: #B3B2B7;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 16.298px;
    font-style: normal;
    font-weight: 500;
    line-height: 156.6%;
    letter-spacing: -0.163px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 20px;
}

.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
}

.titulo h1 {
    height: 61px;
    width: 424px;
    color: rgba(36, 46, 83, 1);
    font-family: 'BeVietnamPro', sans-serif;
    font-weight: 700;
    font-size: 39px;
    font-style: bold;
    line-height: 61.41x;
    letter-spacing: -1px;
    margin-top: 110px;
    margin-bottom: 70px;
}

.best_month {
    display: flex;
    justify-content: center;
    text-align: center;
    background: rgba(250, 250, 250, 1);
}

.players {
    width: 445px;
    height: 300px;
    /* margin-left: 80px;
    margin-right: 80px; */
    background-color: #FAFAFA;
    ;
}

.players:first-child {
    display: none;
}

.players:nth-child(3) {
    display: none;
}

.img_players {
    height: 70px;
    width: 70px;
}

.players h2 {
    color: rgba(63, 72, 104, 1);
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -1px;
    margin-top: 20px;
}

.players p {
    height: 219px;
    width: 445px;

    color: #B3B2B7;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 16.298px;
    font-style: normal;
    font-weight: 500;
    line-height: 156.6%;
    letter-spacing: -0.163px;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 20px;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton_more {
    width: 134px;
    height: 44px;

    border-radius: 50px;
    background: #8B48BF;

    color: #FFF;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;

    margin-top: 50px;
    margin-bottom: 70px;

    cursor: pointer;

    border: none;
}

.boton_more:hover {
    background: rgba(139, 72, 191, 0.70);
}

.boton_more:active {
    scale: 0.98;
}

.frame_get {
    background: #3CDDF3;
    height: 366px;
    padding: 40px, 50px, 40px, 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame_get h1 {
    color: #FFF;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 40px;
    font-weight: 700;
    font-style: bold;
    line-height: 114.6%;

    display: flex;
    text-align: left;

    margin-left: 50px;
    margin-right: 50px;

    /*         margin-right: 145px;margin-left: 145px; */
}

.frame_get button {
    width: 150px;
    height: 60px;

    border-radius: 50px;
    background: rgba(35, 44, 80, 1);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);

    color: #FFF;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 13, 18px;
    font-weight: 500;
    font-style: normal;

    box-shadow: rgba(0, 0, 0, 0.25);

    padding: 20px;
    margin-top: 50px;

    cursor: pointer;

    border: none;
}

.frame_get button:active {
    scale: 0.98;
}

footer {
    height: 570px;
    padding: 40px 20px;

    background: rgba(30, 30, 38, 1);
}

footer form {
    /* width: 480px; */

    height: 69px;

    display: flex;

    padding: 10px, 50px, 10px, 50px;
    margin: 10px;
}

footer input {
    width: 320px;
    height: 50px;

    border-radius: 50px;
    background: rgba(255, 255, 255, 1);

    color: rgba(160, 160, 160, 1);
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

    padding: 10px;
    margin-left: 10px;
}

.boton_go {
    width: 70px;
    height: 50px;

    border-radius: 50px;
    background: #8B48BF;

    color: #FFF;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    line-height: 114.6%;

    margin-left: 10px;
    cursor: pointer;

    border: none;
}

.boton_go:hover {
    background: rgba(139, 72, 191, 0.70);
}

.boton_go:active {
    scale: 0.98;
}

footer ul {
    display: flex;
    align-content: center;
    margin-bottom: 50px;

}

footer li {
    list-style-type: none;

    color: rgba(255, 255, 255, 1);
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    font-style: normal;

    margin-bottom: 10px;
}

footer li:hover {
    cursor: pointer;
}

.columnas {
    display: flex;
    justify-content: space-between;

    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
}

.columna1 {
    display: flex;
    flex-direction: column;

}

.columna2 {

    display: flex;
    flex-direction: column;

    padding-bottom: 40px;
    margin-left: 150px;
}

.iconos {
    /* width: 480px; */
    /* width: 370px; */
    height: 42px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px, 50px, 10px, 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -10px;
}

.iconos img:hover {
    cursor: pointer;
}

.iconos img {
    width: 20px;
    height: 20px;
}

#logo2 {
    display: flex;
    justify-content: center;

    margin-top: 20px;
}

#logo2 img {
    width: 160px;
    height: 70px;
}

#logo2 img:hover {
    cursor: pointer;
}

.copyright {
    display: flex;
    justify-content: center;

    margin-top: 50px;
}

.copyright h4 {

    color: rgba(140, 140, 148, 1);
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    right: 120px;
}


/* padding final 30px */

@media (min-width: 1440px) {
    header {
        height: 174px;
    }

    #logo {
        margin-left: 140px;
    }

    .menu_header {
        display: block;

    }

    header .boton_contact {
        display: block;
        margin-right: 165px;

        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    }

    #icono_barras {
        display: none;
    }

    .anuncio {
        width: auto;

        display: flex;
        /* flex-wrap: wrap; */
        align-items: center;
        justify-content: center;
        margin-bottom: 95px;
        margin-top: 85px;
    }

    #img_padel {
        height: 461px;

        margin-bottom: 0;
        margin-right: 100px;
    }

    .frame_info {
        background-color: #8B48BF;
        height: 168px;

        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .frame_info h1 {
        width: 465px;

        margin-right: 100px;
    }

    .frame_info p {
        width: 465px;
    }

    .lista_info {
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;


        background: #FAFAFA;

        margin-top: 40px;
        margin-bottom: 20px;

    }

    .lista_info_text {
        width: 553px;
        height: 158px;

        margin-bottom: 20px;
        margin-right: 35px;
        margin-left: 35px;
    }

    .lista_info_text h3 {
        background-color: #FAFAFA;
    }

    .lista_info_text p {
        padding-top: 18px;
        padding-bottom: 28px;
        padding-left: 90px;
        padding-right: 0px;

    }

    /* margen final de 40px */
    .best_month {
        margin-left: 200px;
        margin-right: 200px;
    }

    .players:first-child {
        display: block;
        /* margin-right: -80px; */
    }

    .players:nth-child(3) {
        display: block;
        /* margin-left: -80px; */
    }

    .boton_more {
        margin-bottom: 150px;
    }

    .frame_get {

        background-color: #8B48BF;
        height: 220px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    .frame_get h1 {
        width: 465px;

        margin-right: 100px;

    }

    .frame_get button {
        background-color: rgba(255, 255, 255, 1);
        color: rgba(139, 72, 191, 1);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);

        margin-bottom: 35px;
        margin-right: 100px;
    }

    footer {
        margin: 0;
        padding-right: 100px;
        padding-right: 100px;

        height: 250px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        /*   padding: 80px,160px,80px,170px; */
    }

    #logo2 {
        order: 2;
    }

    .iconos {
        order: 1;
    }

    .columnas {
        order: 3;
    }

    .formulario {
        order: 4;
    }

    .copyright {
        order: 5;
    }

    .logosRedes {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-left: 20px;
    }

    .iconos {
        width: 150px;
        margin-left: 75px;
    }

    #logo2 {
        margin-top: -10px;
    }

    .columnas {
        height: 140px;
        width: 470px;
    }

    footer li {
        padding-bottom: 7px;
    }

    footer form {
        margin-right: -100px;
        margin-left: 100px;
    }

    .formulario input {
        width: 210px;
    }

    .copyright {
        margin-left: 1270px;
        margin-top: -20px;
    }

    .boton_more:active {
        transform: scale(0.98);
    }

    .boton_more:before,
    .boton_more:after {
        position: absolute;
        content: "";
        width: 150%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1000;
        background-repeat: no-repeat;
    }
}