* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'BeVietnamPro';
    src: url(../fonts/BeVietnamPro-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BeVietnamPro';
    src: url(../fonts/BeVietnamPro-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BeVietnamPro';
    src: url(../fonts/BeVietnamPro-Bold.ttf);
    font-weight: 700;
    font-style: bold;
}

header {
    border: solid 1px red;

    height: 140px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    padding-left: 56px;
    height: 25px;

    cursor: pointer;
}

#icono_barras {
    font-size: 60px;
    padding-right: 56px;

    cursor: pointer;
}

.menu_header {
    color: #242E52;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;

    display: none;
}

.menu_header a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    padding: 14px;
}

.menu_header a:hover {
    color: rgba(36, 46, 82, 0.60);
}

header .boton_contact{
    display: none;
}



.anuncio {
    border: solid 1px yellow;


    /* height: 840px; */
    width: 400px;

    display: block;
    margin-left: auto;
    margin-right: auto;


    

    margin-bottom: 40px;
    margin-top: 24px;
}

.anuncio_texto{
    border: solid 1px purple;

    width: 400px;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

}

#img_padel {
    /* width: 400px; */
    height: 340px;
    margin-bottom: 100px;
}

.anuncio_texto h1 {
    color: #232C50;
    text-align: right;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 50px;
    font-weight: 700;
    font-style: bold;
    line-height: 114.6%;
    letter-spacing: -1.75px;
}

.anuncio_texto p {
    color: #000;
    text-align: right;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 16.558px;
    font-weight: 500;
    font-style: normal;
    line-height: 157.1%;
}

.boton_contact {
    width: 134px;
    height: 44px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    background: #8B48BF;

    color: #FFF;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;

    cursor: pointer;

    border: none;
}

.frame_info {
    background: #3CDDF3;
    height: 306px;
    padding: 40px 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.frame_info h1 {
    color: #FFF;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 36px;
    font-weight: 700;
    font-style: bold;
    line-height: 114.6%;
}

.frame_info p {
    color: #FFF;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 151.1%;
}

.lista_info {
    border: solid 1px green;
    position: relative;

    width: 446px;
    margin-top: 65px;
    margin-left: auto;

}

.lista_info_text{
    border: solid 1px green;
}

.lista_info h2 {
    width: 70px;
    height: 43px;

    border-radius: 30px;
    background: #8B48BF;

    color: #FFF;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 16px;
    font-style: bold;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
}

.lista_info h3 {
    height: 43px;
    width: 411px;

    background: rgba(139, 72, 191, 0.30);

    color: #323851;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 16px;
    font-style: bold;
    font-weight: 700;
    letter-spacing: -0.24px;

    display: flex;
    align-items: center;

    padding-left: 53px;

    margin-left: 35px;
}

.lista_info p {
    color: #B3B2B7;
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 16.298px;
    font-style: normal;
    font-weight: 500;
    line-height: 156.6%;
    letter-spacing: -0.163px;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 20px;
}
/* padding final 30px */

@media (min-width: 1440px) {
    header{
        height: 174px;
    }

    #logo{
        margin-left: 140px;
    }

    .menu_header {
        display: block;
        
    }

    header .boton_contact{
        display: block;
        margin-right: 165px;

        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    }

    #icono_barras{
        display: none;
    }

    .anuncio{
        width: auto;
        
        display: flex;
        /* flex-wrap: wrap; */
        align-items: center;
        justify-content: center;
        margin-bottom: 95px;
        margin-top: 85px;
    }

    #img_padel{
        height: 461px;

        margin-bottom: 0;
        margin-right: 100px;
    }

    .frame_info{
        background-color: #8B48BF;
        height: 168px;

        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .frame_info h1{
        border: solid 1px white;
        width: 465px;

        margin-right: 100px;
    }

    .frame_info p{
        width: 465px;
    }

    .lista_info{
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;


        background: #FAFAFA;

        margin-top: 40px;
        margin-bottom: 20px;
        
    }

    .lista_info_text{
        width: 553px;
        height: 158px;

        margin-bottom: 20px;
        margin-right: 35px;
        margin-left: 35px;
    }

    .lista_info_text h3{
        background-color: #FAFAFA;
    }

    .lista_info_text p{
        padding-top: 18px;
        padding-bottom: 28px;
        padding-left: 90px;
        padding-right: 0px;


    }
    /* margen final de 40px */

}